<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
  </head>
  <body id="contact">
    <div id="screen_space">

      <form action="/" method="post">
        <input type="text" name="first_name">
        <label for="first_name">First Name</label>
        <input type="text" name="last_name">
        <label for="last_name">Last Name</label>
        <input type="email" name="email">
        <label for="email">E-mail</label>
        <input type="submit" name="submit">
      </form>
    </div>
  </body>
</html>