


<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
</head>
<body>
  <div id="contact">
    <div id="waves">
    <form action="/" method="gets">
      <div id="form_box">
        <p>Contact us for more information</p>
        <input type="text" name="name">
        <label for="name">Name</label>
        <input type="email" name="email">
        <label for="email">E-mail</label>
        <br>
        <input id="button" type="submit" name="submit">
      </div>
    </form>
    </div>
    <div id="info">
      <h2>Explore more of Japan</h2>
      <a href="http://www.jnto.go.jp/" target="_new"><p>J</p></a>
    </div>
 </div>
</body>

  <%# setup mandrill e-mail %>
  <%# font color for nav bar dropdown %>
