<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Japan Spa in need of name</title>
    <link rel="stylesheet" href="/main.css" type="text/css">
  </head>
  <body id="landing">
    
    <div id="insignia">
      <p id="logo">J</p>
    </div>
  </body>
</html>