<head>
  <meta charset="UTF-8">
  <title>Relax at Japan&rsquo;s Best Spas</title>
  <link rel="stylesheet" href="/main.css" type="text/css">
</head>
<body>
  <div id="landing">
  <h1 id="byline">Japan Spa Association</h1>  
  <p id="landing_text">Discover Japan's most renowned hot springs <br> and plan your next trip with us.</p>
  
  </div>
  
</body>
