<head>
  <meta charset="UTF-8">
  <title>Relax at Japan&rsquo;s Best Spas</title>
  <link rel="stylesheet" href="/main.css" type="text/css">
</head>
<body>
  <div id="landing">
  <h1 id="byline">Japan&rsquo;s Wonderful Spas</h1>  
  
  </div>
  
</body>
