<body>

<h1 id="info_title">Onsen Health Benefits</h1>

<div id="onsen">
	<img id="onsen_water" src="/images/onsen_water.jpg"/>
	<div class="text">
		<h1> What are Onsen? </h1>
		<p>In Japan, a law was created known as the 'onsenhou' (Hot Spring Law). Based on this law, a natural spring that contains over a defined amount of natural chemical components, and is over a temperature of 25 degrees at its point of release, is officially considered an 'onsen'. There are a number of different onsen categories, according to chemical composition and temperature.</p>
	</div>
</div>

</body>