<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Japan Spa in need of name</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/main.css" type="text/css">
  </head>
  <body>
    <nav>
      <i class="fa fa-bars fa-4x"></i> 
      <ul id="nav">
        <a href="/"><li>Home</li></a>
        <a href="info"><li>About</li></a>
        <a href="map"><li>Locations</li></a>
        <a href="contact"><li>Contact</li></a>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>