<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Relax at Japan&rsquo;s Best Spas</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css" type="text/css">
    <link rel="stylesheet" href="/main.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>    
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
      $(document).ready(function() {
        $("#nav").hide();

        $("#bars").on('mouseenter', function() {
          $("#nav").slideDown();
          
        });

        $("#nav").on('mouseleave', function() {
          $("#nav").slideUp();
        });

        $("#bars").on('click', function() {
          $("#nav").slideUp();
        });

      });
    </script>

  </head>

  <body>
    <nav>
      <i id="bars" class="fa fa-bars fa-4x"></i> 
        <ul id="nav">
          <a href="/"><li>Home</li></a>
          <a href="info"><li>Health Benefits</li></a>
          <a href="map"><li>Locations</li></a>
          <a href="contact"><li>Contact</li></a>
       </ul>
    </nav>
    <%= yield %>
  </body>
</html>