/****************************************************************************/
/****************************** Navigation Bar ******************************/
/****************************************************************************/

*{
  font-family: 'Nixie One';
  color: #FFF;
}


#bars {
  color: #FFF;
}

nav {
  position: absolute;
  margin-top: 45px;
  margin-left: 65px;
}

#nav {
  list-style: none;
  font-weight: 500;
  margin-left: -40px;
}

#nav li {
  position: relative;
}

#nav a {
  display: block;
  padding: 5px 0;
  color: #FFF;
  text-decoration: none;
}

#nav ul {
  background-color: rgba(255, 255, 255, 0);
  list-style: none;
  position: absolute;
  left: -9999px;
}

#nav ul li {
  padding-top: 1px;
}

#nav ul a {
  white-space: nowrap;
}

nav li:hover ul {
  left:0;
}

nav li:hover a {
  text-decoration: underline;
}

#nav li:hover ul a {
  text-decoration: none;
}

/*****************************************************************/
/************************ Landing Page ***************************/
/*****************************************************************/

#landing {

  background-image: url("/images/onsen_nightview2.jpg");
  background-image: no-repeat;
  min-width: 1264px;
  min-height: 768px;
}

#byline {
  color: #FFF;
  text-align: center;
  font-family: 'Big Caslon', serif;
  font-size: 4em;
  margin-top: 0;
  padding-top: 150px;
}

/*****************************************************************/
/****************************** Info *****************************/
/*****************************************************************/

#info_page{
  background-color: #CDE5E5;
}

#info_title{
  text-align: center;
  margin-bottom: 80px;
  margin-top: 0;
  padding-top: 50px;
  font-size: 70px;
  color: #565B61;
}

#intro{
  text-align: center;
  width: 900px;
  margin: 0 auto;
  margin-bottom: 80px;
  font-color: #565B61;
}

.intro_text{
  color: #565B61;
}

.sections{
  height: 330px;
  width: 100%;
  margin-top: 20px;
}

.info_images {
  max-width: 40%;
  position: absolute;
  margin: 0 31% 0 31%;
  float: left;
}

#water_title{
  position: absolute;
  background-color: rgba(204, 204, 204, 0.4);
  padding: 130px 160px;
  left: 32%;
  margin: 0 auto;
  margin-top: 12px;
  color: #fff;
  font-size: 40px;
}

#mud_title{
  position: absolute;
  background-color: rgba(204, 204, 204, 0.4);
  padding: 130px 186px;
  left: 32.2%;
  margin: 0 auto;
  margin-top: 12px;
  color: #fff;
  font-size: 40px;
}

#acidity_title{
  position: absolute;
  background-color: rgba(204, 204, 204, 0.4);
  padding: 130px 153px;
  left: 32%;
  margin: 0 auto;
  margin-top: 15px;
  color: #fff;
  font-size: 40px;
}

#acidity_section{
  margin-bottom: 80px;
}

.text{
  display: none;
  position: absolute;
  float: left;
  right: 50px;
  width: 50%;
  margin-top: 40px;
  margin-left: 20px;
  background-color: #fff;
  padding: 20px;
}  

.section_text{
  color: #565B61;
}

#bottom{
  height: 80px;
  width: 100%;
  background-color: #CDE5E5;
}

/*************************************************************************/
/***************************** Locations *********************************/
/*************************************************************************/

a{
  text-decoration: none;
}

#map_page{
  background-color: #CDE5E5;
}

#map_image{
  background-image: url("/images/japan.png");
  background-repeat: no-repeat;
  min-width: 730px;
  min-height: 1000px;
  margin-left: 25%;
}

#map_title{
  position: absolute;
  color: #565B61;
  font-size: 60px;
  font-style: bold;
  margin-top: 0;
  top: 30px;
  left: 200px;
  background-color: rgba(230, 230, 230, 0.7);
  padding: 10px;
}

.dot{
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #323538;
}

.map_text{
  color: #000;
  font-size: 14px;
}

.map_popup{
  background-color: rgba(204, 204, 204, 0.7);
  height: 200px;
  width: 220px;
  position: absolute;
  z-index: 1;
}

.map_image{
  max-height: 133px;
  max-width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.popup_text{
  margin-top: 8px;
  text-align: center;
  color: #565B61;
}

.description{
  font-size: 13px;
}

#noboribetsu_popup{
  display: none;
  top: 105px;
  right: 462px;
}

#hokkaido_dot{
  top: 300px;
  right: 455px;
}

#tamagawa_popup{
  display: none;
  top: 205px;
  right: 245px;
}

#akita_dot{
  top: 400px;
  right: 460px;
}

#kusatsu_popup{
  display: none;
  top: 365px;
  right: 517px;
}

#gunma_dot{
  top: 560px;
  right: 510px;
}

#musashikoyama_popup{
  display: none;
  top: 395px;
  right: 255px;

}

#tokyo_dot{
  top: 590px;
  right: 470px;
}

#kawane_popup{
  display: none;
  top: 630px;
  right: 516px;
}

#shizuoka_dot{
  top: 625px;
  right: 510px;
}

#arashiyama_popup{
  display: none;
  top: 441px;
  right: 636px;
}

#kyoto_dot{
  top: 635px;
  right: 630px;
}

#beppu_popup{
  display: none;
  top: 735px;
  right: 572px;
}

#oita_dot{
  top: 730px;
  right: 785px;
}

/*************************************************************************/
/***************************** Contact Page ******************************/
/*************************************************************************/

#contact {
  background-color: #CDE5E5;
  min-width: 1264px;
  min-height: 768px;
}

#waves {
  background-image: url(/images/waves.png);
  background-repeat: no-repeat;
}

#form_box {
  width: 235px;
  height: 235px;
  margin: 0 auto;
  background-color: rgba(255, 250, 240, .45);
}

#form_box p {
  text-align: center;
  padding-top: 12px;
  color: #062235;
}
form {
  width: 200px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 200px;
}

input {
  margin: 8px 10px;
  color: #062235;
}

label {
  color: #062235;
  font-weight: bold;
  margin: 0 10px;
}

#button {
  margin-top: 25px;
  margin-left: 75px;
  border-radius: 5px;
  color: #062235;
  border: 1px solid #062235;
}

#button:focus {
  outline-color: #062235;
}

#info {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  border: 5px solid #FFF;
  position: absolute;
  bottom: 85px;
  left: 65px;
  background: #FFF;
}

#info h2 {
  display: inline-block;
  font-size: 1em;
  position: absolute;
  bottom: 75px;
  left: 6px;
  text-align: center;
  color: #000;
}

#info p {
  text-align: center;
  font-size: 3em;
  font-family: 'Big Caslon', serif;
  color: #000;
  position: absolute;
  bottom: -47px;
  left: 23px;
}

#info p a {
  text-decoration: none;
  color: #000;
}





















