/*Navigation Bar*/

#bars {
  color: #FFF;
}

nav {
  position: absolute;
  margin-top: 45px;
  margin-left: 65px;
}

#nav {
  list-style: none;
  font-weight: 500;
  margin-left: -40px;
}

#nav li {
  position: relative;
}

#nav a {
  display: block;
  padding: 5px 0;
  color: #FF1493;
  text-decoration: none;
}

#nav ul {
  background-color: rgba(255, 255, 255, 0);
  list-style: none;
  position: absolute;
  left: -9999px;
}

#nav ul li {
  padding-top: 1px;
}

#nav ul a {
  white-space: nowrap;
}

nav li:hover ul {
  left:0;
}

nav li:hover a {
  background-color: #0075D9;
  text-decoration: underline;
}

#nav li:hover ul a {
  text-decoration: none;
}


/*****************************************************************/
/****************************** Info *****************************/
/*****************************************************************/

#info_title{
  text-align: center;
  margin-bottom: 100px;
}

#intro{
  text-align: center;
  width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#onsen{
  height: 300px;
  width: 100%;
  background-color: #E8D1BE;
}

#onsen_water {
  max-width: 40%;
  position: relative;
  float: left;
  margin: 0 auto;
}

#mud{
  display: none;
}

#yubatake{
  display: none;
}

.text{
  display: none;
  position: absolute;
  right: 40px;
  width: 50%;
  margin-top: 40px;
  margin-left: 20px;
}  


/*Landing Page*/


#landing {
  background-image: url("/images/onsen_nightview.jpg");
}

#insignia {
  position: absolute;
  margin-bottom: 40px;
  margin-left: 20px;
}

#logo {
  color: #FFF;
  font-size: 6em;
  font-family: 'Big Caslon', serif;
}

/*Contact Page*/

#screen_space {
  width: 1264px;
  margin: 0 auto;
  min-height: 768px;
}

#contact {
  background-color: #ACE5EE;
}

form {
 width: 325px;
 margin: 250px auto;
}
























