/*Navigation Bar*/

#bars {
  color: #FFF;
}

nav {
  position: absolute;
  margin-top: 45px;
  margin-left: 65px;
}

#nav {
  list-style: none;
  font-weight: 500;
  margin-left: -40px;
}

#nav li {
  position: relative;
}

#nav a {
  display: block;
  padding: 5px 0;
  color: #FF1493;
  text-decoration: none;
}

#nav ul {
  background-color: rgba(255, 255, 255, 0);
  list-style: none;
  position: absolute;
  left: -9999px;
}

#nav ul li {
  padding-top: 1px;
}

#nav ul a {
  white-space: nowrap;
}

nav li:hover ul {
  left:0;
}

nav li:hover a {
  background-color: #0075D9;
  text-decoration: underline;
}

#nav li:hover ul a {
  text-decoration: none;
}


/*****************************************************************/
/****************************** Info *****************************/
/*****************************************************************/

#info_title{
  text-align: center;
  margin-bottom: 100px;
}

#intro{
  text-align: center;
  width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#onsen{
  height: 300px;
  width: 100%;
  background-color: #E8D1BE;
}

#onsen_water {
  max-width: 40%;
  position: relative;
  float: left;
  margin: 0 auto;
}

#mud{
  display: none;
}

#yubatake{
  display: none;
}

.text{
  display: none;
  position: absolute;
  right: 40px;
  width: 50%;
  margin-top: 40px;
  margin-left: 20px;
}  


/*Landing Page*/


#landing {
  background-image: url("/images/onsen_nightview.jpg");
  min-width: 1264px;
  min-height: 768px;
}

#byline {
  color: #FFF;
  text-align: center;
  font-family: 'Big Caslon', serif;
  font-size: 4em;
  margin-top: 0;
  padding-top: 150px;
}

/*Contact Page*/



#contact {
  background-color: #D1E6F4;
  min-width: 1264px;
  min-height: 768px;
}

form {
  width: 200px;
  margin: 0 auto;
  padding-top: 250px;
}

input {
  margin: 10px 0;
}

label {
  color: #062235;
  font-weight: bold;
}

#button {
  margin-top: 50px;
  margin-left: 75px;
  border-radius: 5px;
  color: #FFF;
}

#button:focus {
  outline-color: #062235;
}























