#nav {
  list-style: none;
  font-weight: 500;
  float: left;
}

#nav li {
  float: left;
  margin-right: 10px;
  position: relative;
}

#nav a {
  display: block;
  padding: 10px;
  color: #FF1493;
  background-color: #0075D9;
  text-decoration: none;
}

#nav ul {
  background-color: rgba(255, 255, 255, 0);
  list-style: none;
  position: absolute;
  left: -9999px;
}

#nav ul li {
  padding-top: 1px;
}

#nav ul a {
  white-space: nowrap;
}

nav li:hover ul {
  left:0;
}

nav li:hover a {
  background-color: #0075D9;
  text-decoration: underline;
}

#nav li:hover ul a {
  text-decoration: none;
}


/*****************************************************************/
/****************************** Info *****************************/
/*****************************************************************/

#info_title{
  text-align: center;
  margin-bottom: 50px;
}

#onsen{
  height: 300px;
  width: 100%;
  background-color: #E8D1BE;
}

#onsen_water {
  max-height: 300px;
  max-width: 600px;
  position: relative;
  margin: 0 31.5% 0 31.5%;
}

.text{
  display: none;
  position: absolute;
  width: 50%;
  margin-top: 40px;
  margin-left: 20px;
}  





























