#nav {
  list-style: none;
  font-weight: 500;
  float: left;
}

#nav li {
  float: left;
  margin-right: 0px;
  position: relative;
}

#nav a {
  display: block;
  padding: 10px 0;
  color: #FF1493;
  text-decoration: none;
}

#nav ul {
  background-color: rgba(255, 255, 255, 0);
  list-style: none;
  position: absolute;
  left: -9999px;
}

#nav ul li {
  padding-top: 1px;
}

#nav ul a {
  white-space: nowrap;
}

nav li:hover ul {
  left:0;
}

nav li:hover a {
  text-decoration: underline;
}

#nav li:hover ul a {
  text-decoration: none;
}


/*****************************************************************/
/****************************** Info *****************************/
/*****************************************************************/

#onsen{
  height: 300px;
  width: 100%;
  background-color: #E8D1BE;
}





























